@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>

    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextAreaFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("Açıklamayı Yazınız")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /> <br />
        <button type="button" class="btn btn-info" id="btnsave">Kaydet</button> <!-- type="button" olarak ayarladım -->
    </div>

    <script>
        $('#btnsave').click(function (e) {
            e.preventDefault(); // Formun otomatik olarak gönderilmesini engeller
            swal({
                title: "Kategori eklemek istediğinize emin misiniz?",
                text: "Bu işlemi onaylarsanız, yeni kategori eklenecek.",
                icon: "success",
                buttons: {
                    cancel: {
                        text: "İptal",
                        value: null,
                        visible: true,
                        className: "btn-danger",  // İptal butonu için özel renk
                        closeModal: true,
                    },
                    confirm: {
                        text: "Evet, ekle!",  // OK butonunun yeni yazısı
                        value: true,
                        visible: true,
                        className: "btn-success",  // OK butonunun rengi (Bootstrap'den btn-success kullanıyoruz)
                        closeModal: true
                    }
                },
                dangerMode: true
            })
                .then((willAdd) => {
                    if (willAdd) {
                        // Formu manuel olarak gönderiyoruz
                        $('form').submit();
                    } else {
                        swal("Kategori ekleme işlemi iptal edildi.");
                    }
                });

        });
    </script>
}
